9th jan 2024

1. What is 7 to the power 4

In [ ]:
a=7**4
print(a)

2401

2. Split the string:
s="hi there sam!"
into list

In [ ]:
s="hi there sam!"
s.split()

['hi', 'there', 'sam!']

3. Given the variables:
planet=earth
diameter=12742
use .format() to print the following string:
The diameter of Earth is 12742 kilometers.

In [ ]:
planet='earth'
diameter=12742
print(f'The diameter of {planet} is {diameter} kilometers.')

The diameter of earth is 12742 kilometers.

4. given the nested list,use indexing to grab the word "hello".
lst=[1,2,[3,4],[5,[100,200,["hello"]],23,11],1,7]

In [ ]:
lst=[1,2,[3,4],[5,[100,200,["hello"]],23,11],1,7]
lst[3][1][2][0]

5. given the nested dictionary grab the word "hello":
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

6. What is the main difference between a tuple and a list ?
ans: -Tuples are created using parentheses () and may contain a mix of data   
      types.It is not changable.

     -Lists are created using square brackets [] and can also contain a mix of data types.It is changable.

7. Create a function that grabs the email the email website domain from a string in the form:

user@domain.com
so for example passing "user@domain.com" would return domain.com

In [ ]:
def extract(email):
    return email.split('@')[-1]


a= input("email :")
domain = extract (a)
print("domain :", domain)

email :kkik@gmail.com
domain : gmail.com

8. Function to find 'dog' in a string

In [ ]:
def findDog(st):
    return 'dog' in st.split()

strg = findDog('Is there a dog here?')
print(strg)

True

9. lambda and filter() function to filter out words that dont start with the letter s

In [ ]:
a = ['soup', 'dog', 'cat', 'salad', 'bat', 'sand', 'luke', 'emia']

alist = list(filter(lambda x: x.startswith('s'), a))

print(alist)

['soup', 'salad', 'sand']

10. you are driving too fast,and a police officer stop you. write a function to return one of 3 possible results: "no ticket", "small ticket" , "big ticket". If yout speed is 60 or less, the result will be "no ticket,if your speed is between 61 to 80 the result will be "small ticket" and if the speed is 81 or more the result will be "big ticket" unless if its your birthday(encoded as boolean value in the parameters of the function) on your birthday your speed can be 5 higher in all cases.

In [ ]:
 def ticket(speed):
    if speed <= 60:
        return "No ticket"
    elif 61 <= speed <= 80:
        return "Small ticket"
    else:
        return "Big ticket"

speed= input("Enter your speed: ")
birthday= input("Is it your birthday? (yes/no): ")

speed = int(speed)
result = ticket(speed)

if birthday=="no":
  print(result)
else:
  print("no ticket")

Enter your speed: 84
Is it your birthday? (yes/no): no
79
Big ticket

11. Write a program to input roll no, student name, marks of physics, chemistry and maths out of 100. (0-100). Calculate total, percentage, calculate STATUS (pass, fail) if students scores above 40 in all the 3 subjects the STATUS should be pass otherwise fail. Calculate GRADE if
STATUS is pass.
Grade must be based on percentage value
if percentage is above 70, then grade must be DISTINCTION if percentage is above 60, then grade must be FIRST CLASS if percentage is above 50, then grade must be SECOND CLASS if percentage is above 40, then grade must be PASS CLASS

In [ ]:
rollno = int(input("Enter roll no: "))
studentname = input("Enter student name: ")
physicsmarks = int(input("Enter physics marks: "))
chemistrymarks = int(input("Enter chemistry marks: "))
mathsmarks = int(input("Enter maths marks: "))

total = physicsmarks + chemistrymarks + mathsmarks
perc = (total / 300.0) * 100

if physicsmarks < 40 or chemistrymarks < 40 or mathsmarks < 40:
  status = "Fail"
else:
  status = "Pass"

if status == "Pass":
  if perc > 70:
    grade = "Distinction"
  elif perc > 60:
    grade = "First Class"
  elif perc > 50:
    grade = "Second Class"
  else:
    grade = "Pass Class"

print("Roll no:", rollno)
print("Student name:", studentname)
print("Physics marks:", physicsmarks)
print("Chemistry marks:", chemistrymarks)
print("Maths marks:", mathsmarks)
print("Total marks:", total)
print("Percentage:", perc)
print("Status:", status)
print("Grade:", grade)

Enter roll no: 237
Enter student name: jap shah
Enter physics marks: 80
Enter chemistry marks: 88
Enter maths marks: 90
Roll no: 237
Student name: jap shah
Physics marks: 80
Chemistry marks: 88
Maths marks: 90
Total marks: 258
Percentage: 86.0
Status: Pass
Grade: Distinction

12. write an oop program to perform additiions ,base and power ,concatenation ,max,minof two numbers stored in two different objects created from same class

In [ ]:
class Operations:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def add(self):
        return self.num1 + self.num2

    def power(self):
        return self.num1 ** self.num2

    def concat(self):
        return str(self.num1) + str(self.num2)

    def max(self):
        return max(self.num1, self.num2)

    def min(self):
        return min(self.num1, self.num2)

obj1 = Operations(10, 20)
obj2 = Operations(30, 40)

print("Addition:", obj1.add())
print("Power:", obj2.power())
print("Concatenation:", obj1.concat())
print("Maximum:", obj2.max())
print("Minimum:", obj1.min())

Addition: 30
Power: 121576654590569288010000000000000000000000000000000000000000
Concatenation: 1020
Maximum: 40
Minimum: 10

Write a Python program to solve quadratic equation.
The standard form of a quadratic equation is:
where
a, b and c are real numbers and
The solutions of this quadratic equation is given by:
ð‘Žð‘¥ + ð‘ð‘¥ + ð‘ = 0
2
ð‘Ž â‰  0
(âˆ’ð‘ Â± (ð‘ âˆ’ 4ð‘Žð‘ )/(2ð‘Ž)

structured and unstructured

2nd Febuary 2024
________________________________________________________________________________
Qualitative data and quantitative data
qual:categorical
quant:numerical

binary--->0/1
          yes/no
          true/false
ordinal data:

categorical:enumerated factors,nominal
tv screen(plasma,led,lcd etc.)
or
state-name(Gujarat,Andhra Pradesh etc.)

continuous:data that can take on any value in an interval.
(synonyms:interval,float,numeric)

DATA FRAME:
rectangular data like a spreadsheet is the basic data structure for statistical and machine learning models

spatial data structures are used in mapping and location analytics, are more complex and varied than rectangular data structures. In the object, representation, the focus of the data is an object (eg: house) and  its spatial coordinates. The field view, by contrast,focuses on small units of space and the value of a relevant metric(pixel brightness,for example graph(or network) data structures are used to represent physical,social and abstract relationships.

Artificial Inteligence: Ability of  machine or a computer program to think and learn like humans. AI is accomplished by studying how human brrain thinks,acts and learns while trying to solve a probllem and then using the outcomes of this study, intelligent software and systems and developed.

**data science domain**:

data science as a discipline can be thought of as the study of tools used to model data generate insights from data and make decision based on data. they are generic tools applicable to many fields such as engineering,laws,medicine,financeetc.



1.   computer science programming
2.   statistics and machine learning
3.   domain knowledge: such as biotech is said to possess domain knowledge      
     of that industry

**data life**

define the purpose


data collecction


data type


data source


data quality


data cleaning


data integration


data storage


data security


data analysis


documentation

In [ ]:
# prompt: create 3 list with productid product name product price with 5 elements each add this element to data framedd

import pandas as pd

# Create three lists with 5 elements each
product_id = [1, 2, 3, 4, 5]
product_name = ['Product A', 'Product B', 'Product C', 'Product D', 'Product E']
product_price = [100, 200, 300, 400, 500]

# Create a dictionary with the three lists
data = {'Product ID': product_id, 'Product Name': product_name, 'Product Price': product_price}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

   Product ID Product Name  Product Price
0           1    Product A            100
1           2    Product B            200
2           3    Product C            300
3           4    Product D            400
4           5    Product E            500

In [ ]:
# prompt: extract one by one column and display seperately from above data frameddd

# Extract the 'Product ID' column
product_id = df['Product ID']

# Print the 'Product ID' column
print(product_id)

# Extract the 'Product Name' column
product_name = df['Product Name']

# Print the 'Product Name' column
print(product_name)

# Extract the 'Product Price' column
product_price = df['Product Price']

# Print the 'Product Price' column
print(product_price)

0    1
1    2
2    3
3    4
4    5
Name: Product ID, dtype: int64
0    Product A
1    Product B
2    Product C
3    Product D
4    Product E
Name: Product Name, dtype: object
0    100
1    200
2    300
3    400
4    500
Name: Product Price, dtype: int64

In [ ]:
# prompt: using loc and iloc diplay each row and column

# Access the first row using loc
first_row = df.loc[0]
print(first_row)

# Access the first row using iloc
first_row = df.iloc[0]
print(first_row)

# Access the last row using loc
last_row = df.loc[len(df) - 1]
print(last_row)

# Access the last row using iloc
last_row = df.iloc[-1]
print(last_row)

# Access the first column using loc
first_column = df.loc[:, 'Product ID']
print(first_column)

# Access the first column using iloc
first_column = df.iloc[:, 0]
print(first_column)

# Access the last column using loc
last_column = df.loc[:, 'Product Price']
print(last_column)

# Access the last column using iloc
last_column = df.iloc[:, -1]
print(last_column)

Product ID               1
Product Name     Product A
Product Price          100
Name: 0, dtype: object
Product ID               1
Product Name     Product A
Product Price          100
Name: 0, dtype: object
Product ID               5
Product Name     Product E
Product Price          500
Name: 4, dtype: object
Product ID               5
Product Name     Product E
Product Price          500
Name: 4, dtype: object
0    1
1    2
2    3
3    4
4    5
Name: Product ID, dtype: int64
0    1
1    2
2    3
3    4
4    5
Name: Product ID, dtype: int64
0    100
1    200
2    300
3    400
4    500
Name: Product Price, dtype: int64
0    100
1    200
2    300
3    400
4    500
Name: Product Price, dtype: int64